[submodule "jammer"]
	path = jammer
	url = https://github.com/oran-testing/jammer
	branch = main
[submodule "uu-agent"]
	path = uu-agent
	url = https://github.com/oran-testing/uu-agent
[submodule "rtue"]
	path = rtue
	url = https://github.com/oran-testing/rtue
[submodule "oai_integration"]
	path = oai_integration
	url = https://github.com/cueltschey/oai_integration
[submodule "ssb-spoofer"]
	path = ssb-spoofer
	url = https://github.com/aevyy/SSB-Spoofer.git
[submodule "sni5gect-compact"]
	path = sni5gect-compact
	url = https://github.com/cueltschey/sni5gect-compact.git
